html,body{
    margin: 0;
    padding: 0;
    min-width: 1440px;
    font-family: 'Space Grotesk', sans-serif;
}
header{
  height: 68px;
  margin-top: 60px;
  
}
header a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    
}
    header img{
        position: relative;
        top: 6px;
    }
nav{
    
    float: right;
    width:811px ;
    height: 68px;
}
    nav a{
    padding-right: 40px;
    }
    nav button{
        width: 211px;
        height: 68px;
        border-radius: 14px;
        border-radius: 1px solid black;
        background-color: white;
        font-size: 20px;
        font-family: 'Space Grotesk', sans-serif;
    }
main{
    height: 515px;
    margin: 70px 0 70px 0;
   
}
    main img{
        float: right;
        height: 515px;
        width: 600px;
    }
    main h1{
        font-size: 60px;
        margin: 0;
    }
    main p{
        font-size: 20px;
        margin: 35px 0 35px 0;
    }
    main button{
        width: 264px;
        height: 68px;
        border-radius: 14px;
        font-size: 20px;
        font-family: 'Space Grotesk', sans-serif;
        background-color:#191A23 ;
        color: white;
    }
    #main-text{
        width: 531px;
        height: 481px ;
        float: left;
    }
.fixid-container{
    width: 1240px;
    margin: 0 auto;
    
}

#sponsor div{
    display: flex;
    justify-content: space-between;
}
#services{
    margin-top: 80px;
}
#Services-text p{
    height: 46px;
    width: 580px;
    margin: 0 0 0 40px;
    text-align: left;
    
}
#Services-text h1{
    font-size: 40px;
    background-color: #B9FF66;
    border-radius: 7px;
    padding: 0 7px 0 7px;
    margin: 0;
    height: 51px;
}

#Services-text .fixid-container{
    display: flex;
    flex-direction: row;
    margin-top: 140px;
}
.services-cards{
    border: 1px solid black;
    border-bottom: 6px solid black;
    max-width:600px;
    height:310px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
     #services .fixid-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    }
    .services-cards img{
    width:210px;
    height:170px;
    margin-right:50px;
    }
    #cards-text{
        width:221px;
        height:220px;
        margin-left: 50px;
    }
    #cards-text h2{
        font-size: 30px;
        margin: 0 0 93px 0;
    }
    #cards-a{
        padding-top: 6.5px;
        padding-left: 56px;
        font-size: 20px;
        height: 41px;
        background-image: url(photo/Icon.png);
        background-repeat: no-repeat;
    }
    #card-1{
        background-color: #F3F3F3;
    }
         #card-1 h2{
            background-color: #B9FF66;
            
        }
    #card-2{
        background-color: #B9FF66;
    }
        #card-2 h2{
        background-color: #F3F3F3;
        }
    #card-3{
        background-color:#191A23 ;
    }
        #card-3 h2{
        background-color: #F3F3F3;
        }
        #card-3 #cards-a{
        color: white;
        background-image: url(photo/Icon-white.png);
        background-repeat: no-repeat;
        }
#get-proposal-text{
    width: 500px;
    height: 227px;
}
    #get-proposal-text h3{
    font-size: 30px;
    margin: 0;
    }
    #get-proposal-text p{
    font-size: 18px;
    margin:26px 0 26px 0;
    }
    #get-proposal-text button{
    width:288px;
    height: 68px;
    font-size:20px;
    border-radius:14px;
    border: 0;
    background-color: black;
    color: white;
    }
#get-proposal .fixid-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3F3F3;
    height: 347px;
    border-radius: 45px;
}
#get-proposal{
    margin-top: 147px;
}